<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant App</title>
  <link rel="stylesheet" href="styles.css">
  </head>

<body>
    <h1>Restaurants, Ratings and Reviews.</h1>

<ul>
{% for restaurantName, data in restaurants %}

    <li>
    <form id="{{restaurantName[0]}}Review" action="http://localhost:4000/review/{{restaurantName}}" method="POST" class="form">
        <h2>{{ restaurantName }}</h2>
        <p>Rate from 1-10.</p>
        Rating:
        <input type="number" name="rating" min="1" max="10">
    <br>
    <br>
        Leave a review:
        <input type="text" name="review" >
    <br>
    <br>
        <input type="submit">
    <br>
    <br>
        <button type="button" class="delete-btn">Remove</button>
        </li>
    </form>

{% endfor %}
</ul>
<nav>
    <ul>
        <li class="crumb"><a href="http://localhost:4000/button.html"><button type="button">Add a new Restaurant</button></a></li>
    </ul>
</nav>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="index.js"></script>
</body>
</html>
